[Desktop Entry]
Encoding=UTF-8
Name=InterCrone
Comment=InterCrone P2P Cryptocurrency
Comment[fr]=InterCrone, monnaie virtuelle cryptographique pair à pair
Comment[tr]=InterCrone, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/InterCrone-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/InterCrone;
Categories=Office;
